@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", serif;
  font-style: normal;
  font-optical-sizing: auto;
}

@layer base {
  :root {
    --background: oklch(0.266 0.078 263.725);
    --foreground: oklch(0.678 0.142 76.85);
    --card: oklch(0.141 0.004 285.823 / 0.2);
    --card-foreground: oklch(0.678 0.142 76.85);
    --popover: oklch(0.266 0.078 263.725);
    --popover-foreground: oklch(0.678 0.142 76.85);
    --primary: oklch(0.678 0.142 76.85);
    --primary-foreground: oklch(0.266 0.078 263.725);
    --secondary: oklch(0.678 0.142 76.85);
    --secondary-foreground: oklch(0.141 0.004 285.823);
    --muted: oklch(0.141 0.004 285.823);
    --muted-foreground: oklch(0.678 0.142 76.85);
    --accent: oklch(0.678 0.142 76.85);
    --accent-foreground: oklch(0.141 0.004 285.823);
    --destructive: oklch(0.551 0.211 27.817);
    --destructive-foreground: oklch(0.141 0.004 285.823);
    --border: oklch(0.678 0.142 76.85);
    --input: oklch(0.678 0.142 76.85);
    --ring: oklch(0.678 0.142 76.85);
    --chart-1: oklch(0.619 0.203 312.742);
    --chart-2: oklch(0.53 0.193 262.049);
    --chart-3: oklch(0.624 0.159 47.609);
    --chart-4: oklch(0.745 0.196 149.549);
    --chart-5: oklch(0.612 0.209 6.139);
    --radius: 0.5rem;
    --sidebar-background: oklch(0.266 0.078 263.725);
    --sidebar-foreground: oklch(0.678 0.142 76.85);
    --sidebar-primary: oklch(0.716 0.112 326.664);
    --sidebar-primary-foreground: oklch(0.266 0.078 263.725);
    --sidebar-accent: oklch(0.678 0.142 76.85);
    --sidebar-accent-foreground: oklch(0.141 0.004 285.823);
    --sidebar-border: oklch(0.678 0.142 76.85);
    --sidebar-ring: oklch(0.678 0.142 76.85);
  }
}
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

input {
  color: white;
}

button:has(svg) {
  color: var(--primary);
  }

label {
  color: var(--primary);
}

/* Remove native appearance for better customization */
input[type="date"],
input[type="datetime-local"] {
  -webkit-appearance: none;
  appearance: none;
  padding: 5px;
  font-size: 16px; /* Adjust for readability */
}

/* Style for the calendar picker for date input */
input[type="date"]::-webkit-calendar-picker-indicator {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23c88ac8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-calendar-days'%3E%3Cpath d='M8 2v4'/%3E%3Cpath d='M16 2v4'/%3E%3Crect width='18' height='18' x='3' y='4' rx='2'/%3E%3Cpath d='M3 10h18'/%3E%3Cpath d='M8 14h.01'/%3E%3Cpath d='M12 14h.01'/%3E%3Cpath d='M16 14h.01'/%3E%3Cpath d='M8 18h.01'/%3E%3Cpath d='M12 18h.01'/%3E%3Cpath d='M16 18h.01'/%3E%3C/svg%3E");
  background-size: contain;
  cursor: pointer;
}

/* Style for the clock picker for datetime-local input */
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23c88ac8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-calendar-clock'%3E%3Cpath d='M21 7.5V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h3.5'/%3E%3Cpath d='M16 2v4'/%3E%3Cpath d='M8 2v4'/%3E%3Cpath d='M3 10h5'/%3E%3Cpath d='M17.5 17.5 16 16.3V14'/%3E%3Ccircle cx='16' cy='16' r='6'/%3E%3C/svg%3E");
  background-size: contain;
  cursor: pointer;
}

/* Add padding for better input field visibility */
input[type="date"],
input[type="time"] {
  padding-right: calc(2rem + 0.5rem); /* Dynamic padding for custom icons */
}

/* Custom Utility Classes */
@layer utilities {
  .popover-content-width-full {
    width: var(--radix-popover-trigger-width);
    max-height: var(--radix-popover-content-available-height);
  }
}

/* ProseMirror Styling */
.ProseMirror {
  outline: none;
  white-space: pre-wrap;
  max-height: 250px;
  cursor: text;
  padding: 10px;
  font-size: 16px;
  resize: none;
  overflow-wrap: anywhere;
  overflow-y: auto;
}
